POSTGRES_DB=enterall_smart_rx
POSTGRES_USER=enterall
POSTGRES_PASSWORD=troque-esta-senha
PGADMIN_DEFAULT_EMAIL=admin@hospital.local
PGADMIN_DEFAULT_PASSWORD=troque-esta-senha
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=troque-esta-senha
POSTGRES_EXPORTER_DATA_SOURCE_NAME=postgresql://enterall:troque-esta-senha@postgres:5432/enterall_smart_rx?sslmode=disable
